<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MqttHost" value="127.0.0.1" />
    <add key="MqttPort" value="1883" />
    <add key="MqttClientId" value="meter-ingestion-worker" />
    <add key="MqttLegacyTopic" value="meter/data" />
    <add key="SubscribeLegacyTopic" value="false" />
    <add key="MqttTopicPattern" value="meter/+/+/+" />
    <add key="MqttRegistryTopicPattern" value="meter/registry/+/+" />
    <add key="HeatPumpMqttTopicPattern" value="tpem/+/heatpump/+/telemetry" />
    <add key="ThermostatMqttTopicPattern" value="tpem/+/thermostat/+/telemetry" />
    <add key="HeatPumpOfflineTimeoutSeconds" value="30" />
    <add key="MqttUsername" value="" />
    <add key="MqttPassword" value="" />
    <add key="SiteCode" value="SITE-001" />
    <add key="ProcessWorkers" value="1" />
    <add key="RealtimeHistoryIntervalSeconds" value="30" />
    <add key="EnergyHistoryIntervalMinutes" value="15" />
    <add key="QualityHistoryIntervalMinutes" value="10" />
    <add key="OfflineTimeoutSeconds" value="15" />
    <add key="VoltageAbsoluteChangeThreshold" value="3" />
    <add key="VoltageRelativeChangeThreshold" value="0.015" />
    <add key="CurrentAbsoluteChangeThreshold" value="0.5" />
    <add key="CurrentRelativeChangeThreshold" value="0.05" />
    <add key="PowerAbsoluteChangeThreshold" value="1000" />
    <add key="PowerRelativeChangeThreshold" value="0.05" />
    <add key="PowerFactorChangeThreshold" value="0.03" />
    <add key="FrequencyChangeThreshold" value="0.05" />
    <add key="AlarmVoltageLowThreshold" value="180" />
    <add key="AlarmVoltageHighThreshold" value="260" />
    <add key="AlarmCurrentHighThreshold" value="400" />
    <add key="AlarmPowerFactorLowThreshold" value="0.5" />
  </appSettings>
  <connectionStrings>
    <add name="MeterDb" connectionString="Host=localhost;Port=11451;Database=ma;Username=postgres;Password=12345;Application Name=TPEM_ManagementSystem;" providerName="Npgsql" />
    <add name="MeterAcquisition" connectionString="Host=localhost;Port=11451;Database=ma;Username=postgres;Password=12345;Application Name=TPEM_ManagementSystem;" providerName="Npgsql" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
