<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 日志级别: Debug / Info / Warn / Error / Off。排查串口问题时临时改 Debug。 -->
    <add key="LogLevel" value="Info" />
    <!-- 判定阈值缓存刷新间隔（秒）。阈值来自 meter_threshold 表，与入库服务、网页端同源 -->
    <add key="ThresholdRefreshSeconds" value="300" />
    <add key="MqttHost" value="127.0.0.1" />
    <add key="MqttPort" value="1883" />
    <add key="MqttClientId" value="meter-acquisition-winform" />
    <add key="MqttTopicTemplate" value="meter/{site}/{box}/{meter}" />
    <add key="MqttLegacyTopic" value="meter/data" />
    <add key="PublishLegacyTopic" value="false" />
    <add key="MqttRegistryTopicTemplate" value="meter/registry/{site}/{box}" />
    <add key="HeatPumpMqttTopicTemplate" value="tpem/{site}/heatpump/{controller}/telemetry" />
    <add key="ThermostatMqttTopicTemplate" value="tpem/{site}/thermostat/{device}/telemetry" />
    <add key="MqttUsername" value="" />
    <add key="MqttPassword" value="" />
    <add key="SiteCode" value="SITE-001" />
    <add key="ToolbarBoxCode" value="BOX-MAIN" />
    <add key="DashboardBoxCode" value="BOX-DASHBOARD" />
    <add key="MeterProtocol" value="Legacy" />
    <add key="LegacyMeterBaudRate" value="9600" />
    <add key="LegacyMeterDataBits" value="8" />
    <add key="LegacyMeterParity" value="Even" />
    <add key="LegacyMeterStopBits" value="One" />
    <add key="Amc96lE4MeterBaudRate" value="9600" />
    <add key="Amc96lE4MeterDataBits" value="8" />
    <add key="Amc96lE4MeterParity" value="None" />
    <add key="Amc96lE4MeterStopBits" value="One" />
    <add key="RealTimeIntervalSeconds" value="1" />
    <add key="EnergyIntervalSeconds" value="60" />
    <add key="QualityIntervalSeconds" value="60" />
    <add key="HeatPumpPortName" value="" />
    <add key="HeatPumpBaudRate" value="9600" />
    <add key="HeatPumpDataBits" value="8" />
    <add key="HeatPumpParity" value="None" />
    <add key="HeatPumpStopBits" value="1" />
    <add key="HeatPumpReadTimeoutMs" value="1000" />
    <add key="HeatPumpWriteTimeoutMs" value="1000" />
    <add key="HeatPumpScanStartAddress" value="1" />
    <add key="HeatPumpScanEndAddress" value="16" />
    <add key="HeatPumpRefreshIntervalSeconds" value="10" />
    <add key="HeatPumpAutoConnect" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="MeterDb" connectionString="Host=localhost;Port=11451;Database=ma;Username=postgres;Password=12345;Application Name=TPEM_ManagementSystem;" providerName="Npgsql" />
    <add name="MeterAcquisition" connectionString="Host=localhost;Port=11451;Database=ma;Username=postgres;Password=12345;Application Name=TPEM_ManagementSystem;" providerName="Npgsql" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>